.container{
    background-image: url("../../assets/img/login.png");
    background-repeat: no-repeat;
    background-position: right;
}

.input_text:focus{
    outline: none !important;
    background-color: white !important
}
