.avatar{
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
}

.btn_orange{
    background-color: #f36e0f !important;
    color: #fff
}

.btn_orange:hover{
    background-color: #d35902 !important;
    color: #fff
}

.like_blue{
    color: #003f6f;
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}

.bg_blue{
    background-color: #003f6f !important;
}
