.bg_orange{
    background-color: #fff;
    border-color: #f36e0f;
    color:#f36e0f;
}

.bg_orange:hover{
    background-color: #f36e0f !important;
    color: #fff;
}

.btn_orange{
    background-color: #f36e0f !important;
    color: #fff
}

.btn_orange:hover{
    background-color: #d35902 !important;
    color: #fff
}

.bg_blue{
    background-color: #003f6f !important;
    font-size: 1.1rem;
}

.bg_blue:hover{
    background-color: #004f8b !important;
}

