.logo{
    width: clamp(10rem, 10vw, 12rem)
}

.logout{
    cursor: pointer;
}

.bg_blue{
    background-color: #003f6f !important;
    font-size: 1.1rem;
}

.bg_blue:hover{
    background-color: #004f8b !important;
}

